/* Importing Fonts */

@font-face {
    font-family: 'Digital-7';
    src: url('./fonts/Digital-7/Digital-7.eot');
    src: url('./fonts/Digital-7/Digital-7.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Digital-7/Digital-7.woff') format('woff'),
        url('./fonts/Digital-7/Digital-7.ttf') format('truetype'),
        url('./fonts/Digital-7/Digital-7.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



/* VARIABLES */
:root{
    --calcBody: bisque;
    --buttonColor: #ADD784;
    --displayColor: rgb(47, 101, 65);
}




/* Design Elements */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calcBody{
    background-color: var(--calcBody);
    height: 37rem;
    width: 30rem;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    background-color: var(--displayColor);
    margin: 2.5rem;
    margin-bottom: 1.25rem;
    height: 7.5rem;
    width: 25rem;
    border-radius: 8px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    overflow: hidden;
    
}

.displayText{
    font-size: 5rem;
    font-family: 'Digital-7',sans-serif;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}

.buttonGrid{
    margin: 2.5rem;
    margin-top: 1.25rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    height:4.5rem;
    width:4.5rem;
    margin-left: 0.7rem;
    margin-bottom: 0.7rem;

    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--buttonColor);

    font-size: 1.5rem;
    font-family: sans-serif;
}

button:hover{
    background-color:#dc9797 ;
}

button:active{
    background-color:#d77070 ;
}


